:root {
  //backgrounds
  --bgOne: #3b3442;
  --bgTwo: #332b3b;
  --shadow: #1a1320c9;
  //colors
  --colorOne: #e7e7e7;
  --colorTwo: #9854db;
  --colorThree: #1f9c81;
  //spacers
  --spacerOne: 0.5rem;
  --spacerTwo: 1rem;
  --spacerThree: 1.5rem;
  --spacerFour: 2rem;
}

html,
body {
  height: 100%;
  color: var(--colorOne);
  font-family: 'Courier New', Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 7px;
  background: var(--colorTwo);
  border-radius: 5px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--colorTwo);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--bgOne);
}

.rotateSquare {
  display: flex;
  gap: var(--spacerThree);
  &__settings {
    padding: var(--spacerFour);
    background: var(--bgTwo);
    border-radius: var(--spacerThree);
    user-select: none;
  }
  &__screen {
    display: flex;
    padding: calc(var(--spacerFour) * 1.5);
    min-width: 30vw;
    min-height: 30vw;
    background: var(--bgTwo);
    border-radius: var(--spacerThree);
    filter: drop-shadow(0 0 var(--spacerTwo) var(--shadow));
  }
  &__square {
    width: 100%;
    height: 100%;
    flex: 1;
    background: var(--colorThree);
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    padding-top: var(--spacerThree);
  }
}

.btn {
  padding: var(--spacerOne);
  border: 0.15rem solid currentColor;
  color: var(--colorThree);
  background: transparent;
  cursor: pointer;
  &:hover {
    background: var(--colorThree);
    color: var(--bgTwo);
  }
}

.modal {
  opacity: 0;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1090;
  background: var(--bgTwo);
  padding: var(--spacerThree);
  box-shadow: 0 0 1rem 0 #00000042;
  border-radius: var(--spacerTwo);
  user-select: none;
  //   pointer-events: none;
  &.show {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
  }
}
